---
layout: ../layout
maxage: 0
---

<div id="intro" style="background-image: url('<%- $asset_src('static/img/v1/bg.png') %>')">
  <div class="container">
    <h1>Static Website Platform as a Service</h1>
    <h2>Ticsta is a powerful platform for creating complex Static Websites.</h2>
  </div>
</div>

<div id="features">
  <div class="container">
    <h1>Features</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <dl>
          <dt>No Servers</dt>
          <dd>...</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>No Database</dt>
          <dd>...</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>No complex programming languages</dt>
          <dd>...</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>Amazon S3 storage</dt>
          <dd>...</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>Amazon Cloudfront</dt>
          <dd>...</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>Low pricing</dt>
          <dd>...</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div id="pricing" class="bg-success" style="background-image: url('<%- $asset_src('static/img/v1/bg.png') %>')">
  <div class="container">
    <h1>Pricing</h1>
    <div class="row">
    </div>
  </div>
</div>