---
layout: ../layout
maxage: 30m
permalink: /
---

<div id="intro" style="background-image: url('<%- $asset_src('static/img/v1/bg.png') %>')">
  <div class="container">
    <h1>Static Website Platform as a Service</h1>
    <h2>Ticsta is a powerful platform for creating complex Static Websites.</h2>
  </div>
</div>

<div id="features">
  <div class="container">
    <h1>Features</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <dl>
          <dt>No Servers</dt>
          <dd>You don't have to worry about infrastructure: servers, databases, software, etc.</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>No performance limits</dt>
          <dd>Your website has 1 million visitors a day? Congratulations!</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>No complex programming languages</dt>
          <dd>You don't need to know PHP, Java, C# or another programming language, but Javascript.</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>Amazon S3 storage</dt>
          <dd>All assets and generated content is stored on S3.</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>Amazon CloudFront CDN</dt>
          <dd>Website's generated content(html, xml, json, etc.) is delivered by CloudFront.</dd>
        </dl>
      </div>
      <div class="col-sm-6  col-md-4">
        <dl>
          <dt>Low pricing</dt>
          <dd>One of the most important goal of Ticsta is low pricing.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div id="pricing" class="bg-success" style="background-image: url('<%- $asset_src('static/img/v1/bg.png') %>')">
  <div class="container">
    <h1>Pricing</h1>
    <h3>We are still working on a production version, so you can try Ticsta for free.</h3>
    <p>Plans will be based on website's popularity.</p>
    <p class="text-muted"><strong>Example:</strong> For a website with 1 million page views per month you will pay approx. $30.</p>
  </div>
</div>