<%
  function getTitle() {
    if($document && $document.title)
      return $document.title;
    if($document && $document.name)
      return $document.name + ' - ' + $site.title;
    return $site.title;
  }
  function isHome() {
    return $file.url==='/';
  }
%>
  <html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= getTitle() %>
    </title>
    <link rel="stylesheet" type="text/css" href="<%= $asset_src('css-main') %>">
    <link rel="canonical" href="http://<%- $site.host + $file.url %>" />
    <link rel="shortcut icon" href="<%= $asset_src('static/img/favicon.ico') %>" />
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#full-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Ticsta</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="full-menu">
              <ul class="nav navbar-nav">
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://cp.ticsta.com" class="btn btn-primary">Sign In</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      </div>
      <div id="content">
        <div class="container">
          <% content %>
        </div>
      </div>
    </div>
    <div id="footer">

    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="<%- $asset_src('js-main') %>"></script>
  </body>

  </html>
